*{
    box-sizing: border-box;
}

body{
    font-family: Roboto,sans-serif;
    background:linear-gradient(#AE28B0 0%, #FFC1EA 26%, 6BE7FD 81%, FFFFFF 100%)!important;
}

main h2{
    font-size:2rem;
}


.img_header{
    max-height:400px;
    width:100%;
    object-fit: cover;
    z-index:0;
}

header div:nth-child(n+2){
    width:200px;
    height:200px;
    border-radius: 50%;
    padding-bottom: 50px;
    background:white;
    margin-top:300px;
}

.toilette_arr{
    position:absolute;
    box-shadow: 0 5px 5px #6BE7FD;
    left:30%;
    padding:2%;
}

.type_arr{
    position:absolute;
    box-shadow:0 5px 5px #FFA6E1;
    padding:2%;
}

.pmr{
    position:absolute;
    box-shadow: 0 5px 5px #AE28B0;
    left:60%;
    padding:2%;
}

.content{
    margin-top: 200px;
    flex-direction: column;
}

main div h2{
    margin-bottom: 2%;
    font-weight:400;
}

main div p{
    margin-bottom:3%;
    font-weight: 900;
}

#client{
    position:absolute;
    width:100%;
}

#contenu_client{
    font-weight: 500;
}